.c-footer {
    .c-footer__toTop {
        display: block;
        background-color: #fff;
        height: 80px;
        text-align: center;
        @include mq(md, max) {
            height: 50px;
        }

        > i {
            font-size: 3.4rem;
            color: #00a99d;
            line-height: 80px;
            @include mq(md, max) {
                font-size: 8rem;
                line-height: 50px;
            }
        }
    }

    .c-footer__main {
        background-color: #00ada0;
        min-height: 158px;
        @include mq(md, max) {
            min-height: auto;
        }

        .c-footer__container {
            max-width: 1200px;
            margin: auto;
            padding: 0 20px;
            @include mq(md, max) {
                padding: 0 15px;
            }
        }

        .c-footer__wrapper {
            display: flex;
            min-height: 158px;
            @include mq(lg, max) {
                flex-direction: column-reverse;
                align-items: center;
            }
            @include mq(md, max) {
                min-height: auto;
            }

            .c-footer__company {
                width: 421px;
                display: flex;
                flex-direction: column;
                border-right: 1px solid #80d6d0;
                padding: 20px 0;
                padding-right: 10px;
                @include mq(lg, max) {
                    width: auto;
                    align-items: center;
                    border-right: none;
                    padding-right: 0;
                }
                @include mq(md, max) {
                    padding: 0 10px;
                    padding-top: 34px;
                    padding-bottom: 30px;
                }

                > a {
                    display: block;
                    > figure {
                        display: flex;
                        margin-bottom: 15px;
                        @include mq(md, max) {
                            margin-bottom: 25px;
                        }
                    }
                }

                > p {
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: #fff;
                    line-height: 1.7;
                    margin-left: -9px;
                    @include mq(md, max) {
                        text-align: center;
                        font-size: 2.6rem;
                        margin-left: -4px;
                    }
                }

                > .c-footer__address {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 1.7;
                    @include mq(md, max) {
                        display: none;
                    }
                }

                > .c-footer__addressSp {
                    display: none;
                    font-weight: 400;
                    color: #fff;
                    text-align: center;
                    font-size: 2.4rem;
                    line-height: 1.5;
                    @include mq(md, max) {
                        display: block;
                    }

                    > p:last-child {
                        margin: 0 -2px;
                    }
                }
            }

            .c-footer__contact {
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                padding: 20px 0;
                padding-left: 20px;
                @include mq(lg, max) {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding-left: 0;
                }
                @include mq(md, max) {
                    padding: 0 10px;
                    padding-top: 31px;
                    justify-content: flex-start;
                }

                .c-footer__content {
                    min-width: 420px;
                    @include mq(md, max) {
                        min-width: auto;
                        margin-bottom: 20px;
                    }

                    > p {
                        font-size: 1.3rem;
                        font-weight: 400;
                        color: #fff;
                        line-height: 1;
                        @include mq(md, max) {
                            font-size: 2.6rem;
                            line-height: 1.5;
                            margin: 0 -10px;
                        }
                    }

                    > a {
                        display: flex;
                        align-items: baseline;
                        font-size: 4.1rem;
                        font-weight: 400;
                        color: #fff;
                        line-height: 1;
                        margin-top: 13px;
                        margin-bottom: 17px;
                        pointer-events: none;
                        @include mq(lg, max) {
                            justify-content: center;
                        }
                        @include mq(md, max) {
                            font-size: 3.6rem;
                            margin-top: 19px;
                            margin-bottom: 23px;
                            pointer-events: all;
                        }

                        > span {
                            display: block;
                            font-size: 2.6rem;
                            font-weight: 400;
                            color: #fff;
                            line-height: 1;
                            margin-right: 7px;
                            @include mq(md, max) {
                                font-size: 2.8rem;
                            }
                        }
                    }

                    .c-footer__time {
                        text-align: center;
                        max-width: 313px;
                        line-height: 22px;
                        font-size: 1.4rem;
                        font-weight: bold;
                        background-color: #fff;
                        color: #00ada0;
                        @include mq(lg, max) {
                            max-width: 312px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        @include mq(md, max) {
                            max-width: 100%;
                            font-size: 2.6rem;
                            line-height: 23px;
                        }
                    }
                }

                .c-footer__link {
                    flex-grow: 1;
                    max-width: 300px;
                    min-width: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include mq(lg, max) {
                        max-width: 100%;
                        min-width: 312px;
                    }
                    @include mq(md, max) {
                        flex-grow: 0;
                        min-width: auto;
                        width: 100%;
                        padding: 21px 0;
                        position: relative;
                    }

                    &::before {
                        @include mq(md, max) {
                            content: "";
                            width: 200vw;
                            height: 1px;
                            background-color: rgba(242, 242, 242, 0.6);
                            position: absolute;
                            top: 0;
                            left: -55%;
                        }
                    }

                    &::after {
                        @include mq(md, max) {
                            content: "";
                            width: 200vw;
                            height: 1px;
                            background-color: rgba(242, 242, 242, 0.6);
                            position: absolute;
                            bottom: 0;
                            left: -55%;
                        }
                    }

                    > a {
                        display: block;
                        text-align: center;
                        line-height: 46px;
                        font-size: 1.4rem;
                        font-weight: bold;
                        color: #fff;
                        border: 2px solid #fff;
                        padding: 0 20px;
                        transition: all 0.2s ease;
                        @include mq(lg, max) {
                            margin-top: 20px;
                        }
                        @include mq(md, max) {
                            line-height: 31px;
                            font-size: 2.6rem;
                            border: 1px solid #fff;
                            margin-top: 15px;
                        }

                        &:hover {
                            opacity: 1;
                            background-color: #fff;
                            color: rgb(0, 169, 157);
                        }
                    }

                    > a:first-child {
                        @include mq(md, max) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .c-footer__copyRight {
        background-color: #33bdb3;
        height: 52px;
        @include mq(md, max) {
            height: 41px;
        }

        > p {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 400;
            color: #fff;
            line-height: 52px;
            @include mq(md, max) {
                font-size: 2.2rem;
                line-height: 41px;
            }
        }
    }
}
