.c-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  @include mq(md, max) {
    position: fixed;
  }

  .c-header__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    @include mq(md, max) {
      padding: 0;
    }
  }

  .c-header__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 1.4rem;
    color: #fefefe;
    line-height: 53px;
    max-width: 200px;
    margin-left: auto;
    @include mq(lg, max) {
      max-width: 160px;
      font-size: 1.1rem;
      line-height: 51px;
    }
    @include mq(md, max) {
      display: none;
    }

    > i {
      display: flex;
      align-items: center;
      font-size: 2rem;
      margin-left: 12px;
      @include mq(lg, max) {
        font-size: 1.6rem;
        margin-left: 10px;
      }
    }
  }

  .c-header__wrapper {
    height: 91px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(lg, max) {
      height: 70px;
    }

    .c-header__logo {
      margin-left: 21px;
      @include mq(xl, max) {
        margin-left: 20px;
      }
      @include mq(lg, max) {
        margin-left: 15px;
      }
      @include mq(md, max) {
        margin-left: 8px;
      }

      > figure {
        display: flex;
        width: 292px;
        height: 51px;
        @include mq(lg, max) {
          width: auto;
          height: 40px;
        }
        @include mq(md, max) {
          width: 165px;
          height: 29px;
        }
      }
    }

    .c-header__menu {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      margin-left: 10px;
      @include mq(md, max) {
        margin-left: 0;
        display: none;
      }

      .c-header__nav {
        > ul {
          height: 100%;
          display: flex;
          align-items: center;
          > li {
            height: 100%;
            > a {
              display: block;
              line-height: 91px;
              padding: 0 22px;
              text-align: center;
              font-size: 1.6rem;
              font-weight: bold;
              color: #000;
              transition: all 0.3s ease;
              @include mq(xl, max) {
                padding: 0 15px;
              }
              @include mq(lg, max) {
                font-size: 1.2rem;
                line-height: 70px;
                padding: 0 10px;
              }

              &:hover {
                background-color: #00ada0;
                color: #fff;
                opacity: 1;
              }
            }
          }
        }
      }

      .c-header__survey {
        flex-grow: 1;
        margin-left: 21px;
        max-width: 172px;
        @include mq(xl, max) {
          margin-left: 15px;
        }
        @include mq(lg, max) {
          margin-left: 10px;
        }

        > a {
          background-color: #00ada0;
          display: block;
          line-height: 91px;
          padding: 0 22px;
          text-align: center;
          font-size: 1.6rem;
          font-weight: bold;
          color: #fff;
          @include mq(xl, max) {
            padding: 0 15px;
          }
          @include mq(lg, max) {
            font-size: 1.2rem;
            line-height: 70px;
            padding: 0 10px;
          }
        }
      }
    }
  }

  .c-header__menuSp {
    display: none;
    @include mq(md, max) {
      display: flex;
    }

    .c-header__menuMail {
      width: 70px;
      height: 70px;
      background-color: #00ada0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      > i {
        display: flex;
        font-size: 6rem;
        color: #fff;
        line-height: 0.75;
      }

      > span {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        line-height: 1;
      }
    }

    .c-header__menuOpen {
      width: 70px;
      height: 70px;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      > img {
        width: 30px;
        height: 23px;
      }

      > span {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        line-height: 1;
      }
    }
  }

  .c-header__navSp {
    display: none;
    background-color: #00ada0;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    padding: 0 15px;
    padding-bottom: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.2s ease;
    @include mq(md, max) {
      display: block;
    }

    .c-header__menuClose {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 40px;
      margin-left: auto;
      padding: 15px 0;

      > img {
        width: 23px;
        height: 23px;
      }

      > span {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        margin-top: 9px;
        margin-left: 2px;
      }
    }

    .c-header__navList {
      > li {
        margin-bottom: 30px;

        > a {
          display: block;
          font-size: 3.6rem;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    .c-header__contact {
      padding-top: 15px;
      padding-bottom: 25px;
      position: relative;
      .c-header__tel {
        display: block;
        font-size: 6rem;
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: baseline;
        > span {
          display: block;
          font-size: 3.6rem;
          font-weight: bold;
          color: #fff;
        }
      }

      .c-header__time {
        background-color: #fff;
        > p {
          font-size: 3.2rem;
          font-weight: bold;
          color: #00ada0;
          line-height: 25px;
          margin-top: 10px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        width: 100vw;
        height: 1px;
        background-color: #dbeeec;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -15px;
        width: 100vw;
        height: 1px;
        background-color: #dbeeec;
      }
    }

    .c-header__more {
      padding-top: 25px;
      > a {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 3.6rem;
        margin-bottom: 30px;
      }

      .c-header__request {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 33px;
        margin-bottom: 30px;
        border: 2px solid #fff;
      }

      .c-header__goback {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 3.6rem;
        > i {
          margin-right: 13px;
        }
      }
    }
  }

  #showMenu:checked ~ .c-header__navSp {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
