.c-banner {
  margin-top: 80px;
  background-color: #f8b616;
  height: auto;
  @include mq(md, max) {
    margin-top: 35px;
  }

  .c-banner__container {
    max-width: 1416px;
    height: 100%;
    margin: auto;
  }

  .c-banner__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    > figure {
      display: flex;
      min-width: 440px;
      height: 398px;
      @include mq('xxxl', max) {
        display: none;
      }
    }

    .c-banner__content {
      flex-grow: 1;
      min-height: 418px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 53px;
      @include mq('xxxl', max) {
        padding-top: 200px;
      }
      @include mq(md, max) {
        min-height: 400px;
        justify-content: flex-start;
        padding-top: 87px;
        padding-bottom: 30px;
      }

      > figure {
        position: absolute;
        top: -65px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        width: 639px;
        height: 234px;
        @include mq(md, max) {
          top: -33px;
          width: 241px;
          height: 99px;
        }

        > img:first-child {
          @include mq(md, max) {
            display: none;
          }
        }

        > img:last-child {
          display: none;
          @include mq(md, max) {
            display: block;
          }
        }
      }

      > p {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        margin-left: 10px;
        letter-spacing: -0.5px;
        @include mq(md, max) {
          margin-left: 5px;
          font-weight: 500;
          font-size: 2.6rem;
          letter-spacing: -0.8px;
        }
      }

      .c-banner__image {
        display: none;
        @include mq('xxxl', max) {
          display: flex;
          justify-content: space-between;
          margin-top: 40px;
          width: 100%;
          max-width: 900px;
        }
        @include mq(md, max) {
          margin-top: 21px;
        }

        > figure {
          max-width: 440px;
        }
      }

      .c-banner__link {
        display: block;
        position: relative;
        background-color: #fff;
        width: 450px;
        height: 60px;
        margin-top: 44px;

        @include mq(md, max) {
          max-width: 270px;
          height: 38px;
          margin-top: 25px;
        }

        &:hover {
          border: 2px solid #00a99d;
          opacity: 1;

          > p {
            line-height: 56px;
            @include mq(md, max) {
              line-height: 34px;
            }
          }

          > i {
            right: 18px;
            @include mq(md, max) {
              right: 29px;
            }
          }
        }

        > p {
          text-align: center;
          font-size: 1.6rem;
          font-weight: bold;
          color: #00ada0;
          line-height: 60px;
          @include mq(md, max) {
            font-size: 2.8rem;
            line-height: 38px;
            letter-spacing: -0.5px;
          }
        }

        > i {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 2rem;
          line-height: 1;
          color: #00ada0;
          @include mq(md, max) {
            font-size: 3rem;
            right: 31px;
          }
        }
      }
    }
  }
}
