@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .c-banner .c-banner__wrapper .c-banner__content {
        height: 418px;
    }

    .c-banner .c-banner__wrapper > figure > img {
        height: 398px;
    }

    .c-banner .c-banner__wrapper .c-banner__content > figure > img {
        height: 234px;
    }

    .c-news .c-news__wrapper .c-news__body .c-news__list > li {
        display: flex;

        > a {
            width: 100%;
        }
    }

    .c-header .c-header__wrapper .c-header__logo > figure > img {
        height: 51px;
    }

    .c-header .c-header__wrapper .c-header__menu .c-header__survey {
        width: 100%;
    }

    .c-banner {
        @include mq(xxxl, max) {
            height: 846px;
        }

        .c-banner__wrapper {
            @include mq(xxxl, max) {
                height: auto;
            }

            .c-banner__content {
                @include mq(xxxl, max) {
                    height: 840px;
                }

                .c-banner__image {
                    @include mq(xxxl, max) {
                        height: 100%;
                    }

                    > figure {
                        @include mq(xxxl, max) {
                            height: 398px;
                        }

                        > img {
                            @include mq(xxxl, max) {
                                height: 398px;
                            }
                        }
                    }
                }

                .c-banner__link {
                    @include mq(xxxl, max) {
                        min-height: 60px;
                    }
                }
            }
        }
    }

    .c-footer .c-footer__main .c-footer__wrapper .c-footer__contact .c-footer__link {
        width: 100%;
    }
}
