<footer class="c-footer">
  <a href="#" class="c-footer__toTop">
    <i class="fas fa-chevron-up"><span class="space">&nbsp;</span></i>
  </a>

  <div class="c-footer__main">
    <div class="c-footer__container">
      <div class="c-footer__wrapper">
        <div class="c-footer__company">
          <a href="./index.html">
            <figure>
              <img src="./assets/images/footer/footer_logo.png" alt="footer_logo">
            </figure>
          </a>
          <p>【運営】株式会社愛媛経済レポート</p>
          <address class="c-footer__address">〒790-0011　愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</address>
          <address class="c-footer__addressSp">
            <p>〒790-0011</p>
            <p>愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</p>
          </address>
        </div>
        <div class="c-footer__contact">
          <div class="c-footer__content">
            <p>掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
            <a href="tel:+84899471411"><span>TEL.</span>089-947-1411</a>
            <div class="c-footer__time">
              <p>受付時間　9:00〜17:00(平日のみ)</p>
            </div>
          </div>
          <div class="c-footer__link">
            <a href="#"><span>お問い合わせはこちら</span></a>
            <a href="#"><span>掲載・取材依頼の企業様へ</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-footer__copyRight">
    <p>©2018 Ehime Keizai Report Inc,</p>
  </div>
</footer>
<!-- end footer -->

<!-- JS lib -->
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/jquery.min.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/slick.min.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/main.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/app.js"></script>