<header class="c-header">
    <div class="c-header__container">
        <input id="showMenu" type="checkbox" hidden>
        <a href="#" class="c-header__link">
            <span>掲載・取材依頼の企業様へ</span><i class="fas fa-chevron-circle-right"><span class="space">&nbsp;</span></i>
        </a>

        <div class="c-header__wrapper">
            <a href="./index.html" class="c-header__logo">
                <figure>
                    <img src="./assets/images/header/logo.png" alt="logo">
                </figure>
            </a>
            <div class="c-header__menu">
                <nav class="c-header__nav">
                    <ul>
                        <li><a href="#">企業一覧</a></li>
                        <li><a href="./about.html">愛媛シゴト図鑑とは</a></li>
                        <li><a href="#">インタビュー</a></li>
                        <li><a href="#">ニュース</a></li>
                    </ul>
                </nav>
                <div class="c-header__survey">
                    <a href="./contact.html">お問い合わせ</a>
                </div>
            </div>

            <div class="c-header__menuSp">
                <div class="c-header__menuMail">
                    <i class="far fa-envelope"><span class="space">&nbsp;</span></i>
                    <span>お問い合わせ</span>
                </div>
                <label for="showMenu" class="c-header__menuOpen">
                    <img src="./assets/images/header/icon_menu.png" alt="icon_menu">
                    <span>メニュー</span>
                </label>
            </div>
        </div>

        <div class="c-header__navSp">
            <label for="showMenu" class="c-header__menuClose">
                <img src="./assets/images/header/icon_closemenu.png" alt="icon_closemenu">
                <span>閉じる</span>
            </label>
            <ul class="c-header__navList">
                <li><a href="./index.html">ホーム</a></li>
                <li><a href="#">企業一覧</a></li>
                <li><a href="./about.html">愛媛シゴト図鑑とは</a></li>
                <li><a href="#">インタビュー</a></li>
                <li><a href="#">ニュース</a></li>
                <li><a href="#">運営会社</a></li>
                <li><a href="./contact.html">お問い合わせ</a></li>
            </ul>
            <div class="c-header__contact">
                <a href="tel:+089-947-1411" class="c-header__tel">
                    <span>TEL.</span>
                    089-947-1411
                </a>
                <div class="c-header__time">
                    <p>受付時間9:00〜17:00（平日のみ）</p>
                </div>
            </div>
            <div class="c-header__more">
                <a class="c-header__request" href="#"><span>掲載・取材のご依頼についてはこちら</span></a>
                <a class="c-header__policy" href="#">プライバシーポリシー</a>
                <a class="c-header__terms" href="#">利用規約</a>
                <label for="showMenu" class="c-header__goback">
                    <i class="fas fa-times"><span class="space">&nbsp;</span></i>閉じる
                </label>
            </div>
        </div>
    </div>
</header>
<!-- end header -->