<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>
  <%- typeof title !=='undefined' ? title : '' %>
</title>

<!-- fonts awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  crossorigin="anonymous" />

<!-- slick slider -->
<link rel="stylesheet" type="text/css"
  href="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/styles/slick.css" />

<!-- CSS -->
<link rel="stylesheet" href="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/styles/style.css" />