<% const basePath='.' ; const title='Task17' ; const description='' ; const keyword='' ; %>
  <!DOCTYPE html>
  <html lang="ja">

  <head>
    <%- include('partials/_head', { basePath, title, description, keyword }); %>
  </head>

  <body>
    <%- include('layout/_header', { basePath }); %>

      <main class="c-main">
        <section class="c-slider">
          <ul class="c-slider__list">
            <li class="c-slider__item1"><span class="space">&nbsp;</span></li>
            <li class="c-slider__item2"><span class="space">&nbsp;</span></li>
            <li class="c-slider__item3"><span class="space">&nbsp;</span></li>
            <li class="c-slider__item4"><span class="space">&nbsp;</span></li>
          </ul>

          <div class="c-slider__container">
            <div class="c-slider__content">
              <figure>
                <img src="./assets/images/slider/mv_catch.png" alt="mv_catch" />
              </figure>
              <div class="c-slider__info">
                <h1>2020年卒学生向けの企業紹介サイト</h1>
              </div>
            </div>
          </div>
        </section>
        <!-- end slider -->

        <section class="c-hero">
          <div class="c-hero__container">
            <div class="c-hero__wrapper">
              <div class="c-hero__heading">
                <span>Pick Up</span>
                <h2>新着ピックアップ</h2>
              </div>
              <div class="c-hero__body">
                <ul class="c-hero__list">
                  <li>
                    <a href="#">
                      <figure>
                        <img src="./assets/images/hero/hero1.jpg" alt="hero1" />
                      </figure>
                      <div class="c-hero__content">
                        <p>事前の知識や資格は不要 「お年寄りが好き」で十分</p>
                        <span>株式会社悠遊社</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <figure>
                        <img src="./assets/images/hero/hero2.jpg" alt="hero2" />
                        <figcaption>
                          <span>就活コラム</span>
                        </figcaption>
                      </figure>
                      <div class="c-hero__content">
                        <p>他人も巻き込み 一生使える自己分析を</p>
                        <span>(株)四国中央キャリア　代表取締役</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <figure>
                        <img src="./assets/images/hero/hero3.jpg" alt="hero3" />
                        <figcaption>
                          <span>経営者インタビュー</span>
                        </figcaption>
                      </figure>
                      <div class="c-hero__content">
                        <p>社会の変化に迅速に対応</p>
                        <p>業種を超えた事業展開も</p>
                        <span>(株)愛媛銀行 頭取</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <figure>
                        <img src="./assets/images/hero/hero4.jpg" alt="hero4" />
                        <figcaption>
                          <span>就活コラム</span>
                        </figcaption>
                      </figure>
                      <div class="c-hero__content">
                        <p>
                          県内食品業界はもちろん、愛媛全域が盛り上がるようなイベントを。
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <figure>
                        <img src="./assets/images/hero/hero5.jpg" alt="hero5" />
                        <figcaption>
                          <span>経営者インタビュー</span>
                        </figcaption>
                      </figure>
                      <div class="c-hero__content">
                        <p>質の高いサービスを提供 地域の生活を支える企業に</p>
                        <span>株式会社フジ　代表取締役社長兼ＣＯＯ</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <figure>
                        <img src="./assets/images/hero/hero6.jpg" alt="hero6" />
                        <figcaption>
                          <span>経営者インタビュー</span>
                        </figcaption>
                      </figure>
                      <div class="c-hero__content">
                        <p>興味を持ち追求すること それが私の仕事の原動力</p>
                        <span>大王海運グループ</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <figure>
                        <img src="./assets/images/hero/hero7.jpg" alt="hero7" />
                      </figure>
                      <div class="c-hero__content">
                        <p>事前の知識や資格は不要 「お年寄りが好き」で十分</p>
                        <span>株式会社悠遊社</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!-- end hero -->

        <section class="c-corp">
          <div class="c-corp__container">
            <div class="c-corp__wrapper">
              <div class="c-corp__heading">
                <span>Corporate Information</span>
                <h2>企業一覧</h2>
              </div>
              <div class="c-corp__title">
                <p>愛媛で働きたい。けれど、どんな会社があるか分からない。</p>
                <p>愛媛シゴト図鑑では、愛媛に本社がある企業のみご紹介！</p>
              </div>
              <div class="c-corp__titleSp">
                <p>愛媛で働きたい。</p>
                <p>けれど、どんな会社があるか分からない。</p>
                <p>愛媛シゴト図鑑では、愛媛に本社がある企業のみご紹介！</p>
              </div>
              <div class="c-corp__body">
                <ul class="c-corp__list">
                  <li>
                    <a href="#">
                      <div class="c-corp__content">
                        <h3>株式会社悠遊社</h3>
                        <span>愛媛県松山市</span>
                        <div class="c-corp__info">
                          <p class="c-corp__info--ml">「とてもやりがいのある仕事です。</p>
                          <p>若い人こそ飛び込んで来てください。」</p>
                        </div>
                        <div class="c-corp__category c-corp__category--ml">
                          <p>介護・福祉</p>
                        </div>
                      </div>
                      <div class="c-corp__image1"></div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="c-corp__image2"></div>
                      <div class="c-corp__content">
                        <h3 class="c-corp__content--ls">やまと印刷株式会社</h3>
                        <span>愛媛県四国中央市</span>
                        <div class="c-corp__info">
                          <p>やりたいことを汲んでくれるから</p>
                          <p>精一杯いろいろなことに挑戦できる</p>
                        </div>
                        <div class="c-corp__category">
                          <p>印刷</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="c-corp__image3"></div>
                      <div class="c-corp__content">
                        <h3>北辰会グループ</h3>
                        <span>愛媛県西条市</span>
                        <div class="c-corp__info">
                          <p>コミュニケーションでつながり深める</p>
                          <p class="c-corp__info--ml">「気づき」を成長の原動力に</p>
                        </div>
                        <div class="c-corp__category c-corp__category--ml">
                          <p>介護・福祉</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="c-corp__image4"></div>
                      <div class="c-corp__content">
                        <h3 class="c-corp__content--ls">株式会社フロントエンド</h3>
                        <span>愛媛県四国中央市</span>
                        <div class="c-corp__info">
                          <p>その会社で何をするのかより、</p>
                          <p>誰と一緒に働きたいかで選んだ</p>
                        </div>
                        <div class="c-corp__category c-corp__category--ls">
                          <p>ソフトウェア</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="c-corp__image5"></div>
                      <div class="c-corp__content c-corp__content--pt">
                        <h3>株式会社フジ</h3>
                        <span>愛媛県松山市</span>
                        <div class="c-corp__info">
                          <p>採用担当に積極的にアプローチ</p>
                          <p>第一志望入社を叶え、現場で活躍中</p>
                        </div>
                        <div class="c-corp__category c-corp__category--ml">
                          <p>スーパーマーケット</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="c-corp__image6"></div>
                      <div class="c-corp__content">
                        <h3 class="c-corp__content--ls">株式会社フジファミリーフーズ</h3>
                        <span>愛媛県松山市</span>
                        <div class="c-corp__info">
                          <p>お客様が満足するサービス提供を</p>
                          <p>目指しスタッフ全員が連携し、</p>
                          <p>臨機応変な対応を</p>
                        </div>
                        <div class="c-corp__category">
                          <p>外食</p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <a href="#" class="c-corp__link">
                  <p>企業一覧はこちら</p>
                  <i class="fas fa-chevron-circle-right"><span class="space">&nbsp;</span></i>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- end corporate -->

        <section class="c-news">
          <div class="c-news__container">
            <div class="c-news__wrapper">
              <div class="c-news__heading">
                <span>News</span>
                <h2>新着ニュース</h2>
              </div>
              <div class="c-news__body">
                <ul class="c-news__list">
                  <li>
                    <a href="#">
                      <span>2019.03.08</span>
                      <p>2020年「新卒会社説明会」日程について</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2019.03.07</span>
                      <p>愛work Challenge！2020 合同会社説明会について</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2019.03.06 </span>
                      <p>
                        八幡浜みなっと
                        みなと交流館館長の経営者インタビューを更新しました
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2018.10.15</span>
                      <p>新しい社員インタビューを更新しました</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2018.10.15</span>
                      <p>新しい社員インタビューを更新しました</p>
                    </a>
                  </li>
                </ul>
                <ul class="c-news__listSp">
                  <li>
                    <a href="#">
                      <span>2018.10.15</span>
                      <p>新しい社員インタビューを更新しました</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2018.10.15</span>
                      <p>新しい社員インタビューを更新しました</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2018.10.15</span>
                      <p>新しい社員インタビューを更新しました</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2018.10.15</span>
                      <p>新しい社員インタビューを更新しました</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>2018.10.15</span>
                      <p>新しい社員インタビューを更新しました</p>
                    </a>
                  </li>
                </ul>
                <figure class="c-news__image">
                  <img src="./assets/images/news/news_bg.jpg" alt="news_bg" />
                </figure>
              </div>
              <a href="#" class="c-news__link">
                <p>ニュース一覧はこちら</p>
                <i class="fas fa-chevron-circle-right"><span class="space">&nbsp;</span></i>
              </a>
            </div>
          </div>
        </section>
        <!-- end news -->

        <div class="c-banner">
          <div class="c-banner__container">
            <div class="c-banner__wrapper">
              <figure><img src="./assets/images/banner/img1.jpg" alt="img1"></figure>
              <div class="c-banner__content">
                <figure>
                  <img src="./assets/images/banner/banner_logo.png" alt="banner_logo">
                  <img src="./assets/images/banner/banner_logoSp.png" alt="banner_logoSp">
                </figure>
                <p>愛媛シゴト図鑑は、これから就職を目指す若者と、</p>
                <p>愛媛の企業をつなぐ役割を担っています。</p>
                <div class="c-banner__image">
                  <figure><img src="./assets/images/banner/img1.jpg" alt="img1"></figure>
                  <figure><img src="./assets/images/banner/img2.jpg" alt="img2"></figure>
                </div>
                <a href="#" class="c-banner__link">
                  <p>愛媛シゴト図鑑とは</p>
                  <i class="fas fa-chevron-circle-right"><span class="space">&nbsp;</span></i>
                </a>
              </div>
              <figure><img src="./assets/images/banner/img2.jpg" alt="img2"></figure>
            </div>
          </div>
        </div>
        <!-- end banner -->
      </main>


      <%- include('layout/_footer', { basePath }); %>
  </body>

  </html>